.card {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    cursor: pointer;
    border-radius: 8px;
    &__img {
        height: auto;
        max-width: 140px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    &__title {
        overflow-wrap: break-word;
        margin-top: 10px;
        font-weight: 700;
        color: #000;
    }
    &__date {
        margin-top: 3px;
        color: rgba(0, 0, 0, 0.6);
    }
}